ul {
	padding-inline-start: 0;
}
/* CSS RESET */
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
.article-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  width: 70%;
}

/* start the sidebar styles */

.sidebar {
	display: flex;
	position: fixed;
	flex-direction: column;
	justify-content: space-around;
	width: 30%;
	height: 100%;
}

.sidebar-up {
	padding: 2rem;
}

.sidebar-bottom {
	padding: 2rem;
}

.sidebar-up__box,
.sidebar-bottom__box {
	border: 1px solid #ccc;
	border-radius: 0.5rem;
	padding: 0 1rem;
	margin: 1rem 0;
	height: 200px;
	width: 400px;
}

.sidebar__box-list {
	list-style-type: none;
}

.sidebar__box-item {
	font-size: 1.05em;
	margin-top: 0.5rem;
}

/* finish the sidebar styles */

.article-box {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  box-sizing: border-box;
  width: 45%;
}
.article-box img {
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
}
.article-box h2 {
  font-size: 18px;
  margin: 10px 0;
}
.article-box p {
  font-size: 14px;
  color: #555;
}
.author-date {
  font-size: 12px;
  margin-top: 10px;
}

@media only screen and (max-width: 571px) {
  .article-box {
    width: 100%;
  }
}
