*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.tweet {
    width: 600px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.tweet__text {
    font-size: 2rem;
    padding: 1rem;
}

.tweet ul {
    list-style-type: none;
}

.tweet__inner {
    display: flex;
    gap: 0.8rem;
    align-items: center;
}

.tweet__content {
    font-weight: 300;
    color: black;
    margin-bottom: 0.5rem;
    padding-top: 0;
    margin-top: 0;
}

.tweet__detail {
    color: #555;
}

.tweet__author {
    position: relative;
}

.tweet__white_space {
    white-space: pre;
    position: relative;
}

.tweet__white_space:nth-child(1 of .tweet__white_space)::after {
    position: absolute;
    content: "";
    background-color: #555;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    bottom: 5px;
}
